@using System.Security.Claims
@using SchoolClient.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject HttpService HttpService
<PageTitle>SchoolClient</PageTitle>

<div class="page">
    @*<div class="sidebar">
       
    </div>*@
    
    
    @code{

        string? userRole;

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                var claims = await HttpService.GetClaims();
                var role = claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)!.Value;
                userRole = await HttpService.GetUserRole();
                StateHasChanged();

            }
        }

    }
    <main>
        @{
            if (!string.IsNullOrWhiteSpace(userRole))
            {
                <NavMenu />
            }
            else
            {
                <div class="top-row px-4">
                    <button class="btn btn-primary" @onclick="Navigate">Login</button>
                </div>
            }
        }

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

@code
{
    private void Navigate()
    {
        NavigationManager.NavigateTo("/login");
    }
}
